DomoMesh/Node-RED/Climatizador.json
[{"id":"3f29aca6.008504","type":"tab","label":"Climatizador","disabled":false,"info":""},{"id":"a0434b24.ba82f8","type":"mqtt out","z":"3f29aca6.008504","name":"Climatizacion","topic":"painlessMesh/to/3186866469","qos":"1","retain":"","broker":"43e9bb63.0bbde4","x":690,"y":340,"wires":[]},{"id":"f8ae38c7.6659f8","type":"function","z":"3f29aca6.008504","name":"control","func":"var temp = context.get(\"temp\") || 0;\nvar button = context.get(\"button\") || false;\nvar timer = context.get(\"timer\") || false;\nvar media = global.get(\"media\");\nvar esc = global.get(\"escena\");\n\nif(msg.topic == 'temp'){\n    temp = msg.payload;\n    context.set(\"temp\",temp);\n} else if(msg.topic == 'button'){\n    button = msg.payload;\n    context.set(\"button\",button);\n} else if(msg.topic == 'timer'){\n    timer = msg.payload;\n    context.set(\"timer\",timer);\n}\nif(esc != 'viaje'){\n    if (button || timer){\n        if((temp+1.5) > media){\n            return{ topic: 'frio', payload: 'on'}\n        } else if((temp-1.5) < media){ \n            return{ topic: 'calor', payload: 'on'}\n        }else {\n            return{ topic: 'e', payload: 'off'}\n        }\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["a0434b24.ba82f8","50d2e2e4.da95ec","62cd04eb.0caa7c"]]},{"id":"672e186d.7c8768","type":"ui_numeric","z":"3f29aca6.008504","name":"","label":"temp","tooltip":"","group":"4e0d35f8.dd15dc","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"temp","topicType":"str","format":"{{value}}","min":"17","max":"30","step":1,"x":110,"y":240,"wires":[["f8ae38c7.6659f8"]]},{"id":"856aae36.5017d","type":"ui_text_input","z":"3f29aca6.008504","name":"Off Time","label":"Off Time","tooltip":"","group":"4e0d35f8.dd15dc","order":3,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"off_time","topicType":"str","x":100,"y":440,"wires":[["37403c47.673ce4"]]},{"id":"2c1b9f9d.9295e","type":"eztimer","z":"3f29aca6.008504","name":"","debug":false,"autoname":"18:45:00 - 02:00:00","tag":"eztimer","topic":"timer","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"18:45:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"str","onvalue":"on","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"02:00:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"str","offvalue":"off","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":410,"y":380,"wires":[["f8ae38c7.6659f8","c808e7d8.eccd98"]]},{"id":"59c6dc67.88b7f4","type":"ui_text_input","z":"3f29aca6.008504","name":"On Time","label":"On Time","tooltip":"","group":"4e0d35f8.dd15dc","order":2,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"on_time","topicType":"str","x":100,"y":400,"wires":[["37403c47.673ce4"]]},{"id":"4dc9d4a5.f8d39c","type":"ui_button","z":"3f29aca6.008504","name":"Manual","group":"4e0d35f8.dd15dc","order":5,"width":"2","height":"1","passthru":false,"label":"Manual","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"manual","topicType":"str","x":100,"y":480,"wires":[["37403c47.673ce4"]]},{"id":"37403c47.673ce4","type":"function","z":"3f29aca6.008504","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\n\nfunction checktime(time){\n    \n\tvar error_flag=false;\n\tvar a=time.split(\":\"); \n\tnode.log(a)\n\tif(a.length <2)\n\t\terror_flag=true;\n\tif(parseInt(a[0])>23)\n\t\terror_flag=true;\n\tif(parseInt(a[1])>=60)\n\t\terror_flag=true;\n    if(parseInt(a[2])>=60)\n\t\terror_flag=true;\n\n\treturn error_flag;  \n}\n\nif (topic==\"on_time\"){\n  \n\tflow.set(\"on_time\",msg.payload);  \n}\n\nif (topic==\"off_time\"){\n\n    flow.set(\"off_time\",msg.payload);\n}\n\nif (topic==\"manual\"){\n\n\tvar on_time= flow.get(\"on_time\");\n\tvar off_time= flow.get(\"off_time\");\n\tvar error_flag=false;\n  \n\tif(checktime(on_time)) //ok\n\t\terror_flag=true;\n\tif(checktime(off_time)) //ok\n\t\terror_flag=true;\n \n\tif(!error_flag){\n\t\n\t\tnewpayload={};\n\t\tnewpayload.ontime=on_time;\n\t\tnewpayload.offtime=off_time;\n\t\tmsg.payload=newpayload;\n\n\t\treturn[msg,null];\n\t} else {\n\n\t\tvar msg1={};\n\t\tmsg1.payload=\"error time not set\";\n\t\treturn [null,msg1]; \n\t}\n} else if(topic==\"auto\") {\n\n        msg.payload = global.get(\"esc_time\");\n      \n\t\treturn[msg,null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":410,"y":460,"wires":[["2c1b9f9d.9295e"],["c808e7d8.eccd98"]]},{"id":"20a388b5.3416a8","type":"remote-access","z":"3f29aca6.008504","confignode":"babda57c.b22c68","name":"","verbose":0,"x":180,"y":60,"wires":[[]]},{"id":"b933af5d.e6ecf","type":"remote-notification","z":"3f29aca6.008504","confignode":"babda57c.b22c68","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"crow","output":1,"x":890,"y":120,"wires":[[]]},{"id":"be27d04f.b14eb","type":"change","z":"3f29aca6.008504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Climatizador\",\"body\":\"Climatizador encedido\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":140,"wires":[["b933af5d.e6ecf"]]},{"id":"50d2e2e4.da95ec","type":"switch","z":"3f29aca6.008504","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":260,"wires":[["e01e170b.0490b8","a2be7246.522ff"]]},{"id":"62cd04eb.0caa7c","type":"switch","z":"3f29aca6.008504","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"frio","vt":"str"},{"t":"eq","v":"calec","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":220,"wires":[["605a5264.7f228c","be27d04f.b14eb"],["605a5264.7f228c","be27d04f.b14eb"]]},{"id":"5ec9670.e0e6498","type":"ui_led","z":"3f29aca6.008504","order":10,"group":"4e0d35f8.dd15dc","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":850,"y":240,"wires":[]},{"id":"5483e467.f006fc","type":"ui_button","z":"3f29aca6.008504","name":"Encender","group":"4e0d35f8.dd15dc","order":9,"width":0,"height":0,"passthru":false,"label":"Encender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"button","topicType":"str","x":100,"y":280,"wires":[["f8ae38c7.6659f8"]]},{"id":"53620a9.adbddf4","type":"ui_button","z":"3f29aca6.008504","name":"Apagar","group":"4e0d35f8.dd15dc","order":8,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"button","topicType":"str","x":100,"y":320,"wires":[["f8ae38c7.6659f8"]]},{"id":"605a5264.7f228c","type":"change","z":"3f29aca6.008504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["5ec9670.e0e6498"]]},{"id":"e01e170b.0490b8","type":"change","z":"3f29aca6.008504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[["5ec9670.e0e6498"]]},{"id":"a2be7246.522ff","type":"change","z":"3f29aca6.008504","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Climatizador\",\"body\":\"Climatizador apagado\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[["b933af5d.e6ecf"]]},{"id":"c808e7d8.eccd98","type":"ui_text","z":"3f29aca6.008504","group":"4e0d35f8.dd15dc","order":4,"width":"3","height":"1","name":"Switch State","label":"Switch State","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":440,"wires":[]},{"id":"72da583d.dbd968","type":"ui_button","z":"3f29aca6.008504","name":"Automatico","group":"4e0d35f8.dd15dc","order":8,"width":0,"height":0,"passthru":false,"label":"Automatico","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"auto","topicType":"str","x":110,"y":520,"wires":[["37403c47.673ce4"]]},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e0d35f8.dd15dc","type":"ui_group","name":"Climatización","tab":"629f97e.a1d1a68","order":2,"disp":true,"width":"3","collapse":false},{"id":"babda57c.b22c68","type":"remote-config","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"z78p2eba0ukrsvkqmlfjfk1kufc6g62ij4lo3tlbk2vi2ea2mgxbtkrm2nh1kyek","server":"nodered02.remote-red.com","region":"de"},{"id":"629f97e.a1d1a68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]