DomoMesh/Node-RED/Escena Viaje.json
[{"id":"470ad2f5.14c05c","type":"tab","label":"Viaje","disabled":false,"info":""},{"id":"b3c175b5.93c098","type":"eztimer","z":"470ad2f5.14c05c","name":"Bajar","debug":false,"autoname":"18:45:00 + 00:00:30","tag":"eztimer","topic":"viaje_bajar","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"18:45:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"bool","onvalue":"true","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"3","offtimesun":"dusk","offtimetod":"18:46:00","offduration":"00:00:30","offpropertytype":"msg","offproperty":"payload","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":170,"y":200,"wires":[["a2a3b4a2.644d08"]]},{"id":"40a03ae9.c56ff4","type":"mqtt out","z":"470ad2f5.14c05c","name":"Salon","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":670,"y":80,"wires":[]},{"id":"34ef878f.e87358","type":"mqtt out","z":"470ad2f5.14c05c","name":"Habitación 1","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":690,"y":120,"wires":[]},{"id":"820e9ded.0026a","type":"mqtt out","z":"470ad2f5.14c05c","name":"Habitación 2","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":690,"y":160,"wires":[]},{"id":"6fbd35b3.492bcc","type":"mqtt out","z":"470ad2f5.14c05c","name":"Habitación 3","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":690,"y":200,"wires":[]},{"id":"6f6c3106.5073","type":"mqtt out","z":"470ad2f5.14c05c","name":"Cocina","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":670,"y":240,"wires":[]},{"id":"752e28ec.892a28","type":"mqtt out","z":"470ad2f5.14c05c","name":"Despacho","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":680,"y":280,"wires":[]},{"id":"66e3e6f9.dd0068","type":"eztimer","z":"470ad2f5.14c05c","name":"Subir","debug":false,"autoname":"08:00:00 + 00:00:30","tag":"eztimer","topic":"viaje_subir","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"08:00:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"bool","onvalue":"true","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"3","offtimesun":"dusk","offtimetod":"08:01:00","offduration":"00:00:30","offpropertytype":"msg","offproperty":"payload","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":170,"y":260,"wires":[["a2a3b4a2.644d08"]]},{"id":"340d1e50.4da622","type":"comment","z":"470ad2f5.14c05c","name":"Persianas","info":"","x":180,"y":160,"wires":[]},{"id":"a2a3b4a2.644d08","type":"function","z":"470ad2f5.14c05c","name":"persianas","func":"var button = context.get(\"button\") || false;\nvar bajar = context.get(\"bajar\") || false;\nvar subir = context.get(\"subir\") || false;\n\nif(msg.topic == 'viaje_bajar'){\n    bajar = msg.payload;\n    context.set(\"bajar\",bajar);\n} else if(msg.topic == 'viaje_subir'){\n    subir = msg.payload;\n    context.set(\"subir\",subir);\n} else if(msg.topic == 'viaje_button'){\n    button = msg.payload;\n    context.set(\"button\",button);\n}\n\n\nif(button){\n    if(subir){\n        return {topic: \"s\" , payload: \"subir\"}\n    } else if(bajar){\n        return {topic: \"b\" , payload: \"bajar\"}\n    } else if (!subir && !bajar){\n        return {topic: \"o\" , payload: \"off\"}\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["40a03ae9.c56ff4","34ef878f.e87358","820e9ded.0026a","6fbd35b3.492bcc","6f6c3106.5073","752e28ec.892a28"]]},{"id":"3da060db.5e26f","type":"function","z":"470ad2f5.14c05c","name":"variable","func":"var escena = '';\n\nif(msg.payload){\n    escena = global.set(\"escena\", 'viaje')\n}\nreturn global;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":340,"wires":[[]]},{"id":"49af31ae.0fa58","type":"ui_button","z":"470ad2f5.14c05c","name":"","group":"62308d14.969374","order":7,"width":0,"height":0,"passthru":false,"label":"Viaje","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"viaje_button","topicType":"str","x":170,"y":340,"wires":[["a2a3b4a2.644d08","3da060db.5e26f","92a44d07.976ce"]]},{"id":"413f9f0f.b06f1","type":"mqtt in","z":"470ad2f5.14c05c","name":"Pasillo-PIR","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":160,"y":440,"wires":[["ea474d17.d6fc3"]]},{"id":"500ed219.38b78c","type":"mqtt in","z":"470ad2f5.14c05c","name":"Entrada-PIR","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":190,"y":640,"wires":[[]]},{"id":"92a44d07.976ce","type":"function","z":"470ad2f5.14c05c","name":"movimiento","func":"var entrada = flow.get(\"entrada\");\nvar pasillo = flow.get(\"pasillo\");\nvar button = msg.payload;\n\nif(button){\n    \n    if(entrada == 'on' || pasillo == 'on'){\n    \n        msg.payload = true;\n        return msg;\n        \n    } \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":440,"wires":[["5ec7b31a.485b5c"]]},{"id":"3eb307f8.f54018","type":"mqtt in","z":"470ad2f5.14c05c","name":"Entrada-PIR","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":170,"y":520,"wires":[["e84b7067.2d38c"]]},{"id":"e84b7067.2d38c","type":"change","z":"470ad2f5.14c05c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"entrada","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":520,"wires":[["92a44d07.976ce"]]},{"id":"ea474d17.d6fc3","type":"change","z":"470ad2f5.14c05c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pasillo","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["92a44d07.976ce"]]},{"id":"5ec7b31a.485b5c","type":"change","z":"470ad2f5.14c05c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"title\":\"Sensor Movimiento\",\"body\":\"Sensor movimiento activado\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":440,"wires":[["3436efa6.fd053"]]},{"id":"3436efa6.fd053","type":"remote-notification","z":"470ad2f5.14c05c","confignode":"babda57c.b22c68","name":"","notificationTitle":"payload.title","notificationTitleType":"msg","notificationBody":"payload.body","notificationBodyType":"msg","notificationSound":"crow","output":1,"x":810,"y":520,"wires":[[]]},{"id":"695619c5.e6eca8","type":"comment","z":"470ad2f5.14c05c","name":"PIR","info":"","x":190,"y":400,"wires":[]},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62308d14.969374","type":"ui_group","name":"Escenas","tab":"629f97e.a1d1a68","order":3,"disp":true,"width":"6","collapse":false},{"id":"babda57c.b22c68","type":"remote-config","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"z78p2eba0ukrsvkqmlfjfk1kufc6g62ij4lo3tlbk2vi2ea2mgxbtkrm2nh1kyek","server":"nodered02.remote-red.com","region":"de"},{"id":"629f97e.a1d1a68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]