DomoMesh/Node-RED/Escena Invierno.json
[{"id":"c6012bec.2c4f58","type":"tab","label":"Invierno","disabled":false,"info":""},{"id":"1108e464.25cc2c","type":"eztimer","z":"c6012bec.2c4f58","name":"Bajar","debug":false,"autoname":"18:45:00 + 00:01:00","tag":"eztimer","topic":"inv_bajar","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"18:45:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"bool","onvalue":"true","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"3","offtimesun":"dusk","offtimetod":"18:46:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":210,"y":200,"wires":[["3c066ca.2023d94"]]},{"id":"e441f616.484c28","type":"mqtt out","z":"c6012bec.2c4f58","name":"Salon","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":710,"y":80,"wires":[]},{"id":"a01b8a9.2848078","type":"mqtt out","z":"c6012bec.2c4f58","name":"Habitación 1","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":730,"y":120,"wires":[]},{"id":"c1850a5f.c8e278","type":"mqtt out","z":"c6012bec.2c4f58","name":"Habitación 2","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":730,"y":160,"wires":[]},{"id":"c8236007.874aa","type":"mqtt out","z":"c6012bec.2c4f58","name":"Habitación 3","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":730,"y":200,"wires":[]},{"id":"a84a807.3b08c8","type":"mqtt out","z":"c6012bec.2c4f58","name":"Cocina","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":710,"y":240,"wires":[]},{"id":"3bb119f2.f1b026","type":"mqtt out","z":"c6012bec.2c4f58","name":"Despacho","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":720,"y":280,"wires":[]},{"id":"c92037e3.adb208","type":"eztimer","z":"c6012bec.2c4f58","name":"Subir","debug":false,"autoname":"08:00:00 + 00:01:00","tag":"eztimer","topic":"inv_subir","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"08:00:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"bool","onvalue":"true","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"3","offtimesun":"dusk","offtimetod":"08:01:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":210,"y":260,"wires":[["3c066ca.2023d94"]]},{"id":"322f7e1e.44e7d2","type":"comment","z":"c6012bec.2c4f58","name":"Persianas","info":"","x":220,"y":160,"wires":[]},{"id":"34ac95f7.d2b1ea","type":"comment","z":"c6012bec.2c4f58","name":"Climatizacion","info":"","x":410,"y":300,"wires":[]},{"id":"835b7da1.4380b","type":"function","z":"c6012bec.2c4f58","name":"time","func":"if(msg.payload){  \n    esc_time={};\n    esc_time.ontime=\"18:45\";\n    esc_time.offtime=\"02:00\";\n    esc_time = global.set(\"esc_time\", esc_time);\n\n    return global;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":340,"wires":[[]]},{"id":"3c066ca.2023d94","type":"function","z":"c6012bec.2c4f58","name":"persianas","func":"var button = context.get(\"button\") || false;\nvar bajar = context.get(\"bajar\") || false;\nvar subir = context.get(\"subir\") || false;\n\nif(msg.topic == 'inv_bajar'){\n    bajar = msg.payload;\n    context.set(\"bajar\",bajar);\n} else if(msg.topic == 'inv_subir'){\n    subir = msg.payload;\n    context.set(\"subir\",subir);\n} else if(msg.topic == 'inv_button'){\n    button = msg.payload;\n    context.set(\"button\",button);\n}\n\n\nif(button){\n    if(subir){\n        return {topic: \"s\" , payload: \"subir\"}\n    } else if(bajar){\n        return {topic: \"b\" , payload: \"bajar\"}\n    } else if (!subir && !bajar){\n        return {topic: \"o\" , payload: \"off\"}\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":220,"wires":[["e441f616.484c28","a01b8a9.2848078","c1850a5f.c8e278","c8236007.874aa","a84a807.3b08c8","3bb119f2.f1b026"]]},{"id":"17827c78.5e0e64","type":"function","z":"c6012bec.2c4f58","name":"variable","func":"var escena = '';\n\nif(msg.payload){\n    escena = global.set(\"escena\", 'inv')\n}\nreturn global;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":440,"wires":[[]]},{"id":"b567a2e1.7dc5e","type":"ui_button","z":"c6012bec.2c4f58","name":"","group":"62308d14.969374","order":7,"width":0,"height":0,"passthru":false,"label":"Invierno","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"inv_button","topicType":"str","x":220,"y":340,"wires":[["835b7da1.4380b","3c066ca.2023d94","17827c78.5e0e64"]]},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62308d14.969374","type":"ui_group","name":"Escenas","tab":"629f97e.a1d1a68","order":3,"disp":true,"width":"6","collapse":false},{"id":"629f97e.a1d1a68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]