DomoMesh/Node-RED/Escena Verano.json
[{"id":"c1089f58.2e8a8","type":"tab","label":"Verano","disabled":false,"info":""},{"id":"b9b5728e.69333","type":"eztimer","z":"c1089f58.2e8a8","name":"Bajar","debug":false,"autoname":"21:45:00 + 00:01:00","tag":"eztimer","topic":"ver_bajar","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"21:45:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"bool","onvalue":"true","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"3","offtimesun":"dusk","offtimetod":"18:46:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":230,"y":220,"wires":[["26149b84.7da354"]]},{"id":"4f86a86f.276cd8","type":"mqtt out","z":"c1089f58.2e8a8","name":"Salon","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":730,"y":100,"wires":[]},{"id":"1ff83f0.96447c1","type":"mqtt out","z":"c1089f58.2e8a8","name":"Habitación 1","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":750,"y":140,"wires":[]},{"id":"6d8b8848.777e68","type":"mqtt out","z":"c1089f58.2e8a8","name":"Habitación 2","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":750,"y":180,"wires":[]},{"id":"7320083f.354b58","type":"mqtt out","z":"c1089f58.2e8a8","name":"Habitación 3","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":750,"y":220,"wires":[]},{"id":"ab92f36a.c765c","type":"mqtt out","z":"c1089f58.2e8a8","name":"Cocina","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":730,"y":260,"wires":[]},{"id":"65d4497b.67e868","type":"mqtt out","z":"c1089f58.2e8a8","name":"Despacho","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":740,"y":300,"wires":[]},{"id":"9be43cab.a9dec","type":"eztimer","z":"c1089f58.2e8a8","name":"Subir","debug":false,"autoname":"08:00:00 + 00:01:00","tag":"eztimer","topic":"ver_subir","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"08:00:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"bool","onvalue":"true","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"3","offtimesun":"dusk","offtimetod":"08:01:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"sun":false,"x":230,"y":280,"wires":[["26149b84.7da354"]]},{"id":"4392097c.007518","type":"comment","z":"c1089f58.2e8a8","name":"Persianas","info":"","x":240,"y":180,"wires":[]},{"id":"c1f90433.5cc288","type":"comment","z":"c1089f58.2e8a8","name":"Climatizacion","info":"","x":430,"y":320,"wires":[]},{"id":"79b321f8.37285","type":"function","z":"c1089f58.2e8a8","name":"time","func":"if(msg.payload){  \n    esc_time={};\n    esc_time.ontime=\"21:45\";\n    esc_time.offtime=\"02:00\";\n    esc_time = global.set(\"esc_time\", esc_time);\n\n    return global;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":360,"wires":[[]]},{"id":"26149b84.7da354","type":"function","z":"c1089f58.2e8a8","name":"persianas","func":"var button = context.get(\"button\") || false;\nvar bajar = context.get(\"bajar\") || false;\nvar subir = context.get(\"subir\") || false;\n\nif(msg.topic == 'ver_bajar'){\n    bajar = msg.payload;\n    context.set(\"bajar\",bajar);\n} else if(msg.topic == 'ver_subir'){\n    subir = msg.payload;\n    context.set(\"subir\",subir);\n} else if(msg.topic == 'ver_button'){\n    button = msg.payload;\n    context.set(\"button\",button);\n}\n\n\nif(button){\n    if(subir){\n        return {topic: \"s\" , payload: \"subir\"}\n    } else if(bajar){\n        return {topic: \"b\" , payload: \"bajar\"}\n    } else if (!subir && !bajar){\n        return {topic: \"o\" , payload: \"off\"}\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":240,"wires":[["4f86a86f.276cd8","1ff83f0.96447c1","6d8b8848.777e68","7320083f.354b58","ab92f36a.c765c","65d4497b.67e868"]]},{"id":"930b5cc6.99694","type":"function","z":"c1089f58.2e8a8","name":"variable","func":"var escena = '';\n\nif(msg.payload){\n    escena = global.set(\"escena\", 'ver')\n}\nreturn global;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":440,"wires":[[]]},{"id":"4b6dc873.1644f8","type":"ui_button","z":"c1089f58.2e8a8","name":"","group":"62308d14.969374","order":7,"width":0,"height":0,"passthru":false,"label":"Verano","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"ver_button","topicType":"str","x":240,"y":360,"wires":[["79b321f8.37285","26149b84.7da354","930b5cc6.99694"]]},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62308d14.969374","type":"ui_group","name":"Escenas","tab":"629f97e.a1d1a68","order":3,"disp":true,"width":"6","collapse":false},{"id":"629f97e.a1d1a68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]