DomoMesh/Node-RED/Luz.json
[{"id":"5c011b63.0af304","type":"tab","label":"Luz","disabled":false,"info":""},{"id":"34073e29.f4c1e2","type":"ui_button","z":"5c011b63.0af304","name":"On/Off","group":"2a39b78f.811918","order":0,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"change","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":300,"wires":[["47e93f66.279bc","8c1e49b6.a4e0c8"]]},{"id":"47e93f66.279bc","type":"mqtt out","z":"5c011b63.0af304","name":"Salon","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":310,"y":320,"wires":[]},{"id":"33812501.afa50a","type":"mqtt in","z":"5c011b63.0af304","name":"Salon","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":90,"y":220,"wires":[["defec98b.b28528"]]},{"id":"31f40830.3684a8","type":"ui_button","z":"5c011b63.0af304","name":"On/Off","group":"124b3d19.4508b3","order":0,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"change","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":620,"wires":[["d9925736.c610d8","8098966c.62e818"]]},{"id":"d9925736.c610d8","type":"mqtt out","z":"5c011b63.0af304","name":"Habitacion 1","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":270,"y":640,"wires":[]},{"id":"d9c93c4f.e626d","type":"ui_led","z":"5c011b63.0af304","order":2,"group":"124b3d19.4508b3","width":"3","height":"3","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":850,"y":540,"wires":[]},{"id":"57ca7d1c.1c01c4","type":"mqtt in","z":"5c011b63.0af304","name":"Habitacion 1","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":110,"y":520,"wires":[["e7217d1c.32fe"]]},{"id":"be368481.815ee8","type":"comment","z":"5c011b63.0af304","name":"Habitacion 1","info":"","x":180,"y":440,"wires":[]},{"id":"9262a541.c63c28","type":"comment","z":"5c011b63.0af304","name":"Salon","info":"","x":170,"y":40,"wires":[]},{"id":"cc03f541.e2d778","type":"ui_button","z":"5c011b63.0af304","name":"On/Off","group":"8cd15e48.81251","order":0,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"change","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":960,"wires":[["1ad5874b.6d98e9","6885e94e.e32a58"]]},{"id":"1ad5874b.6d98e9","type":"mqtt out","z":"5c011b63.0af304","name":"Habitacion 2","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":290,"y":980,"wires":[]},{"id":"ed10e654.d6b238","type":"ui_led","z":"5c011b63.0af304","order":2,"group":"8cd15e48.81251","width":"3","height":"3","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":830,"y":900,"wires":[]},{"id":"171bbfb9.007da","type":"mqtt in","z":"5c011b63.0af304","name":"Habitacion 2","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":110,"y":880,"wires":[["e991d8ac.9f05f8"]]},{"id":"84517666.3b1fb8","type":"comment","z":"5c011b63.0af304","name":"Habitacion 2","info":"","x":180,"y":800,"wires":[]},{"id":"aac510c.8fca7f","type":"ui_button","z":"5c011b63.0af304","name":"On/Off","group":"adef6213.f9a65","order":0,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"change","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1340,"wires":[["6f77eb40.851164","ce108688.074c38"]]},{"id":"6f77eb40.851164","type":"mqtt out","z":"5c011b63.0af304","name":"Habitacion 3","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":270,"y":1360,"wires":[]},{"id":"6d738ed5.2ff8a","type":"ui_led","z":"5c011b63.0af304","order":2,"group":"adef6213.f9a65","width":"3","height":"3","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":830,"y":1280,"wires":[]},{"id":"554c2801.6a51c8","type":"mqtt in","z":"5c011b63.0af304","name":"Habitacion 3","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":110,"y":1260,"wires":[["b7f361ba.d25d4"]]},{"id":"99117933.0475b8","type":"comment","z":"5c011b63.0af304","name":"Habitacion 3","info":"","x":180,"y":1180,"wires":[]},{"id":"39ef02a5.65ce5e","type":"ui_button","z":"5c011b63.0af304","name":"On/Off","group":"9e725aa6.859c38","order":0,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"change","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":1780,"wires":[["4d961344.bfecbc","cd270c5.07332f"]]},{"id":"4d961344.bfecbc","type":"mqtt out","z":"5c011b63.0af304","name":"Cocina","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":270,"y":1800,"wires":[]},{"id":"5a001891.606428","type":"ui_led","z":"5c011b63.0af304","order":2,"group":"9e725aa6.859c38","width":"3","height":"3","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":790,"y":1720,"wires":[]},{"id":"f0cf6aa1.e33218","type":"mqtt in","z":"5c011b63.0af304","name":"Cocina","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":90,"y":1680,"wires":[["559ee1ea.64276"]]},{"id":"edf31922.bc6138","type":"comment","z":"5c011b63.0af304","name":"Cocina","info":"","x":160,"y":1540,"wires":[]},{"id":"a3b621f8.7c5a8","type":"ui_button","z":"5c011b63.0af304","name":"On/Off","group":"ec55e0aa.9757","order":0,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"change","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":2100,"wires":[["78e2de90.1f479","cf81f986.21f9f8"]]},{"id":"78e2de90.1f479","type":"mqtt out","z":"5c011b63.0af304","name":"Despacho","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":280,"y":2100,"wires":[]},{"id":"d8799925.5ed818","type":"ui_led","z":"5c011b63.0af304","order":2,"group":"ec55e0aa.9757","width":"3","height":"3","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":770,"y":2020,"wires":[]},{"id":"22343a8c.e3bbd6","type":"mqtt in","z":"5c011b63.0af304","name":"Despacho","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":100,"y":2000,"wires":[["26184605.ac193a"]]},{"id":"4b0a3702.959e48","type":"comment","z":"5c011b63.0af304","name":"Despacho","info":"","x":170,"y":1920,"wires":[]},{"id":"4e6439aa.8de108","type":"ui_led","z":"5c011b63.0af304","order":2,"group":"2a39b78f.811918","width":"3","height":"3","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":850,"y":240,"wires":[]},{"id":"eeeb6769.6cf808","type":"function","z":"5c011b63.0af304","name":"control","func":"var payload = msg.payload;\n\nif(payload){\n    msg.payload = true;\n    flow.set(\"salon_led\", \"payload\");\n    return [msg,null];\n} else if(!payload){\n    msg.payload = false;\n    flow.set(\"salon_led\", \"payload\");\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":530,"y":220,"wires":[["4e6439aa.8de108"],["4e6439aa.8de108"]]},{"id":"8c1e49b6.a4e0c8","type":"function","z":"5c011b63.0af304","name":"estado","func":"var payload = msg.payload;\nvar led = flow.get(\"salon_led\");\n\nif(payload == 'change'){\n    if(led){\n        msg.payload = false;\n        flow.set(\"salon_led\", false);\n        return msg;\n    } else if(!led){\n        msg.payload = true;\n        flow.set(\"salon_led\", true);\n        return msg\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":280,"wires":[["4e6439aa.8de108"]]},{"id":"8098966c.62e818","type":"function","z":"5c011b63.0af304","name":"estado","func":"var payload = msg.payload;\nvar led = flow.get(\"hab1_led\");\n\nif(payload == 'change'){\n    if(led){\n        msg.payload = false;\n        flow.set(\"hab1_led\", false);\n        return msg;\n    } else if(!led){\n        msg.payload = true;\n        flow.set(\"hab1_led\", true);\n        return msg\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":600,"wires":[["d9c93c4f.e626d"]]},{"id":"6885e94e.e32a58","type":"function","z":"5c011b63.0af304","name":"estado","func":"var payload = msg.payload;\nvar led = flow.get(\"hab2_led\");\n\nif(payload == 'change'){\n    if(led){\n        msg.payload = false;\n        flow.set(\"hab2_led\", false);\n        return msg;\n    } else if(!led){\n        msg.payload = true;\n        flow.set(\"hab2_led\", true);\n        return msg\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":940,"wires":[["ed10e654.d6b238"]]},{"id":"ce108688.074c38","type":"function","z":"5c011b63.0af304","name":"estado","func":"var payload = msg.payload;\nvar led = flow.get(\"hab3_led\");\n\nif(payload == 'change'){\n    if(led){\n        msg.payload = false;\n        flow.set(\"hab3_led\", false);\n        return msg;\n    } else if(!led){\n        msg.payload = true;\n        flow.set(\"hab3_led\", true);\n        return msg\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1320,"wires":[["6d738ed5.2ff8a"]]},{"id":"cd270c5.07332f","type":"function","z":"5c011b63.0af304","name":"estado","func":"var payload = msg.payload;\nvar led = flow.get(\"coci_led\");\n\nif(payload == 'change'){\n    if(led){\n        msg.payload = false;\n        flow.set(\"coci_led\", false);\n        return msg;\n    } else if(!led){\n        msg.payload = true;\n        flow.set(\"coci_led\", true);\n        return msg\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1740,"wires":[["5a001891.606428"]]},{"id":"cf81f986.21f9f8","type":"function","z":"5c011b63.0af304","name":"estado","func":"var payload = msg.payload;\nvar led = flow.get(\"des_led\");\n\nif(payload == 'change'){\n    if(led){\n        msg.payload = false;\n        flow.set(\"des_led\", false);\n        return msg;\n    } else if(!led){\n        msg.payload = true;\n        flow.set(\"des_led\", true);\n        return msg\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":2060,"wires":[["d8799925.5ed818"]]},{"id":"e9530dd7.c08a1","type":"ui_button","z":"5c011b63.0af304","name":"On/Off","group":"c6b1f9b8.491ec8","order":0,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"change","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":2640,"wires":[["2a2d198b.9ca186","91cd2c46.e9a04"]]},{"id":"2a2d198b.9ca186","type":"mqtt out","z":"5c011b63.0af304","name":"Pasillo","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":290,"y":2640,"wires":[]},{"id":"9a5e3317.5d67a","type":"ui_led","z":"5c011b63.0af304","order":2,"group":"c6b1f9b8.491ec8","width":"3","height":"3","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":750,"y":2540,"wires":[]},{"id":"28aef09d.3f3a","type":"mqtt in","z":"5c011b63.0af304","name":"Pasillo","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":110,"y":2540,"wires":[["dad203af.dbc44"]]},{"id":"91cd2c46.e9a04","type":"function","z":"5c011b63.0af304","name":"estado","func":"var payload = msg.payload;\nvar led = flow.get(\"pas_led\");\n\nif(payload == 'change'){\n    if(led){\n        msg.payload = false;\n        flow.set(\"pas_led\", false);\n        return msg;\n    } else if(!led){\n        msg.payload = true;\n        flow.set(\"pas_led\", true);\n        return msg\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":2600,"wires":[["9a5e3317.5d67a"]]},{"id":"97dc6fd7.c62cd","type":"comment","z":"5c011b63.0af304","name":"Pasillo","info":"","x":160,"y":2420,"wires":[]},{"id":"94e3166f.ad6568","type":"ui_button","z":"5c011b63.0af304","name":"On/Off","group":"908e9cc8.23755","order":0,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"change","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":2960,"wires":[["5d004329.2bc25c","2d29370a.2e5aa8"]]},{"id":"5d004329.2bc25c","type":"mqtt out","z":"5c011b63.0af304","name":"Entrada","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":320,"y":2980,"wires":[]},{"id":"c4724519.6d0dc8","type":"ui_led","z":"5c011b63.0af304","order":2,"group":"908e9cc8.23755","width":"3","height":"3","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":790,"y":2880,"wires":[]},{"id":"6df6e73b.32d088","type":"mqtt in","z":"5c011b63.0af304","name":"Entrada","topic":"painlessMesh/from/3186866469","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":130,"y":2880,"wires":[["7f13feda.7cf92"]]},{"id":"2d29370a.2e5aa8","type":"function","z":"5c011b63.0af304","name":"estado","func":"var payload = msg.payload;\nvar led = flow.get(\"pas_led\");\n\nif(payload == 'change'){\n    if(led){\n        msg.payload = false;\n        flow.set(\"pas_led\", false);\n        return msg;\n    } else if(!led){\n        msg.payload = true;\n        flow.set(\"pas_led\", true);\n        return msg\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":2940,"wires":[["c4724519.6d0dc8"]]},{"id":"5ff9754d.33c58c","type":"comment","z":"5c011b63.0af304","name":"Entrada","info":"","x":180,"y":2800,"wires":[]},{"id":"530fc68a.dfffe8","type":"change","z":"5c011b63.0af304","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["eeeb6769.6cf808"]]},{"id":"defec98b.b28528","type":"json","z":"5c011b63.0af304","name":"","property":"payload","action":"","pretty":false,"x":230,"y":220,"wires":[["530fc68a.dfffe8"]]},{"id":"e7217d1c.32fe","type":"json","z":"5c011b63.0af304","name":"","property":"payload","action":"","pretty":false,"x":270,"y":520,"wires":[["58f4b1a3.48106"]]},{"id":"58f4b1a3.48106","type":"change","z":"5c011b63.0af304","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":520,"wires":[["34ff79c3.2e18c6"]]},{"id":"e991d8ac.9f05f8","type":"json","z":"5c011b63.0af304","name":"","property":"payload","action":"","pretty":false,"x":250,"y":880,"wires":[["93016245.35a62"]]},{"id":"93016245.35a62","type":"change","z":"5c011b63.0af304","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":880,"wires":[["5e490564.c633bc"]]},{"id":"34ff79c3.2e18c6","type":"function","z":"5c011b63.0af304","name":"control","func":"var payload = msg.payload;\n\nif(payload){\n    msg.payload = true;\n    flow.set(\"salon_led\", \"payload\");\n    return [msg,null];\n} else if(!payload){\n    msg.payload = false;\n    flow.set(\"salon_led\", \"payload\");\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":590,"y":520,"wires":[["d9c93c4f.e626d"],["d9c93c4f.e626d"]]},{"id":"5e490564.c633bc","type":"function","z":"5c011b63.0af304","name":"control","func":"var payload = msg.payload;\n\nif(payload){\n    msg.payload = true;\n    flow.set(\"salon_led\", \"payload\");\n    return [msg,null];\n} else if(!payload){\n    msg.payload = false;\n    flow.set(\"salon_led\", \"payload\");\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":590,"y":880,"wires":[["ed10e654.d6b238"],["ed10e654.d6b238"]]},{"id":"b7f361ba.d25d4","type":"json","z":"5c011b63.0af304","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1260,"wires":[["34c061bb.c022be"]]},{"id":"34c061bb.c022be","type":"change","z":"5c011b63.0af304","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1260,"wires":[["71edba02.3a2e24"]]},{"id":"71edba02.3a2e24","type":"function","z":"5c011b63.0af304","name":"control","func":"var payload = msg.payload;\n\nif(payload){\n    msg.payload = true;\n    flow.set(\"salon_led\", \"payload\");\n    return [msg,null];\n} else if(!payload){\n    msg.payload = false;\n    flow.set(\"salon_led\", \"payload\");\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":610,"y":1260,"wires":[["6d738ed5.2ff8a"],["6d738ed5.2ff8a"]]},{"id":"559ee1ea.64276","type":"json","z":"5c011b63.0af304","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1680,"wires":[["2b7a8a1e.e80d26"]]},{"id":"2b7a8a1e.e80d26","type":"change","z":"5c011b63.0af304","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1680,"wires":[["f0bc6e4.d01909"]]},{"id":"f0bc6e4.d01909","type":"function","z":"5c011b63.0af304","name":"control","func":"var payload = msg.payload;\n\nif(payload){\n    msg.payload = true;\n    flow.set(\"salon_led\", \"payload\");\n    return [msg,null];\n} else if(!payload){\n    msg.payload = false;\n    flow.set(\"salon_led\", \"payload\");\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":570,"y":1680,"wires":[["5a001891.606428"],["5a001891.606428"]]},{"id":"26184605.ac193a","type":"json","z":"5c011b63.0af304","name":"","property":"payload","action":"","pretty":false,"x":230,"y":2000,"wires":[["c5a18fd9.9e95e"]]},{"id":"c5a18fd9.9e95e","type":"change","z":"5c011b63.0af304","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2000,"wires":[["b84a46b8.2fb2b8"]]},{"id":"b84a46b8.2fb2b8","type":"function","z":"5c011b63.0af304","name":"control","func":"var payload = msg.payload;\n\nif(payload){\n    msg.payload = true;\n    flow.set(\"salon_led\", \"payload\");\n    return [msg,null];\n} else if(!payload){\n    msg.payload = false;\n    flow.set(\"salon_led\", \"payload\");\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":570,"y":2000,"wires":[["d8799925.5ed818"],["d8799925.5ed818"]]},{"id":"dad203af.dbc44","type":"json","z":"5c011b63.0af304","name":"","property":"payload","action":"","pretty":false,"x":230,"y":2540,"wires":[["ad1fe2e.b44b52"]]},{"id":"ad1fe2e.b44b52","type":"change","z":"5c011b63.0af304","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2540,"wires":[["193c0f93.65f81"]]},{"id":"193c0f93.65f81","type":"function","z":"5c011b63.0af304","name":"control","func":"var payload = msg.payload;\n\nif(payload){\n    msg.payload = true;\n    flow.set(\"salon_led\", \"payload\");\n    return [msg,null];\n} else if(!payload){\n    msg.payload = false;\n    flow.set(\"salon_led\", \"payload\");\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":570,"y":2540,"wires":[["9a5e3317.5d67a"],["9a5e3317.5d67a"]]},{"id":"7f13feda.7cf92","type":"json","z":"5c011b63.0af304","name":"","property":"payload","action":"","pretty":false,"x":250,"y":2880,"wires":[["ce94a574.016e38"]]},{"id":"ce94a574.016e38","type":"change","z":"5c011b63.0af304","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2880,"wires":[["f6c4361f.873398"]]},{"id":"f6c4361f.873398","type":"function","z":"5c011b63.0af304","name":"control","func":"var payload = msg.payload;\n\nif(payload){\n    msg.payload = true;\n    flow.set(\"salon_led\", \"payload\");\n    return [msg,null];\n} else if(!payload){\n    msg.payload = false;\n    flow.set(\"salon_led\", \"payload\");\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":590,"y":2880,"wires":[["c4724519.6d0dc8"],["c4724519.6d0dc8"]]},{"id":"2a39b78f.811918","type":"ui_group","name":"Luz","tab":"83c73120.22d67","order":2,"disp":true,"width":"3","collapse":false},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"124b3d19.4508b3","type":"ui_group","name":"Luz","tab":"f3a209d9.cf33a8","order":2,"disp":true,"width":"3","collapse":false},{"id":"8cd15e48.81251","type":"ui_group","name":"Luz","tab":"bcbe883b.5937e8","order":2,"disp":true,"width":"3","collapse":false},{"id":"adef6213.f9a65","type":"ui_group","name":"Luz","tab":"47e92efa.5d922","order":2,"disp":true,"width":"3","collapse":false},{"id":"9e725aa6.859c38","type":"ui_group","name":"Luz","tab":"1a7c78c5.628537","order":2,"disp":true,"width":"3","collapse":false},{"id":"ec55e0aa.9757","type":"ui_group","name":"Luz","tab":"147a7331.ba73dd","order":1,"disp":true,"width":"6","collapse":false},{"id":"c6b1f9b8.491ec8","type":"ui_group","name":"Luz","tab":"7f8f7a3.9104084","order":2,"disp":true,"width":"3","collapse":false},{"id":"908e9cc8.23755","type":"ui_group","name":"Luz","tab":"9f79dfd4.1360b","order":1,"disp":true,"width":"6","collapse":false},{"id":"83c73120.22d67","type":"ui_tab","name":"Salon","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3a209d9.cf33a8","type":"ui_tab","name":"Habitacion 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"bcbe883b.5937e8","type":"ui_tab","name":"Habitacion 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"47e92efa.5d922","type":"ui_tab","name":"Habitacion 3","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a7c78c5.628537","type":"ui_tab","name":"Cocina","icon":"dashboard","disabled":false,"hidden":false},{"id":"147a7331.ba73dd","type":"ui_tab","name":"Despacho","icon":"dashboard","disabled":false,"hidden":false},{"id":"7f8f7a3.9104084","type":"ui_tab","name":"Pasillo","icon":"dashboard","disabled":false,"hidden":false},{"id":"9f79dfd4.1360b","type":"ui_tab","name":"Entrada","icon":"dashboard","disabled":false,"hidden":false}]