DomoMesh/Node-RED/Persianas.json
[{"id":"20fa437.bf684bc","type":"tab","label":"Persianas","disabled":false,"info":""},{"id":"6cd08aad.91e314","type":"mqtt out","z":"20fa437.bf684bc","name":"Salon","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":730,"y":280,"wires":[]},{"id":"c851de7a.85516","type":"ui_button","z":"20fa437.bf684bc","name":"Subir","group":"c6283f91.1d312","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"subir","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":180,"wires":[["6cd08aad.91e314","98c1b443.139798"]]},{"id":"f9c733db.bc18d","type":"ui_button","z":"20fa437.bf684bc","name":"Parar","group":"c6283f91.1d312","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":260,"wires":[["6cd08aad.91e314"]]},{"id":"98c1b443.139798","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":140,"wires":[["4bc69a83.ff18f4"]]},{"id":"4bc69a83.ff18f4","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["6cd08aad.91e314"]]},{"id":"6d9dba31.44b5b4","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":380,"wires":[["2b45dd06.006f32"]]},{"id":"2b45dd06.006f32","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["6cd08aad.91e314"]]},{"id":"6c101860.34cea8","type":"ui_button","z":"20fa437.bf684bc","name":"Bajar","group":"c6283f91.1d312","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_downward","payload":"bajar","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":360,"wires":[["6d9dba31.44b5b4","6cd08aad.91e314"]]},{"id":"34aa4e26.7b1032","type":"mqtt out","z":"20fa437.bf684bc","name":"Habitación 1","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":750,"y":700,"wires":[]},{"id":"60284186.a96d7","type":"ui_button","z":"20fa437.bf684bc","name":"Subir","group":"509faa50.3fb6c4","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"subir","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":600,"wires":[["34aa4e26.7b1032","55bd063d.969048"]]},{"id":"2be344ff.96debc","type":"ui_button","z":"20fa437.bf684bc","name":"Parar","group":"509faa50.3fb6c4","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":680,"wires":[["34aa4e26.7b1032"]]},{"id":"55bd063d.969048","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":560,"wires":[["39d0a48f.e3e23c"]]},{"id":"39d0a48f.e3e23c","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":560,"wires":[["34aa4e26.7b1032"]]},{"id":"e6df5d15.7eb3d","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":800,"wires":[["e863646e.f18128"]]},{"id":"e863646e.f18128","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":800,"wires":[["34aa4e26.7b1032"]]},{"id":"5a83eea9.251d7","type":"ui_button","z":"20fa437.bf684bc","name":"Bajar","group":"509faa50.3fb6c4","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_downward","payload":"bajar","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":780,"wires":[["e6df5d15.7eb3d","34aa4e26.7b1032"]]},{"id":"d3fe972f.2b8178","type":"mqtt out","z":"20fa437.bf684bc","name":"Habitación 2","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":750,"y":1100,"wires":[]},{"id":"8747499c.fe6ce8","type":"ui_button","z":"20fa437.bf684bc","name":"Subir","group":"35cf820a.09dcde","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"subir","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1000,"wires":[["d3fe972f.2b8178","d4c75631.015448"]]},{"id":"4beb743f.59166c","type":"ui_button","z":"20fa437.bf684bc","name":"Parar","group":"35cf820a.09dcde","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1080,"wires":[["d3fe972f.2b8178"]]},{"id":"d4c75631.015448","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":960,"wires":[["17f2a112.a5a6cf"]]},{"id":"17f2a112.a5a6cf","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":960,"wires":[["d3fe972f.2b8178"]]},{"id":"f3faec61.aafac","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1200,"wires":[["afbb0697.b6b8a8"]]},{"id":"afbb0697.b6b8a8","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1200,"wires":[["d3fe972f.2b8178"]]},{"id":"7579d852.fabf78","type":"ui_button","z":"20fa437.bf684bc","name":"Bajar","group":"35cf820a.09dcde","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_downward","payload":"bajar","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1180,"wires":[["f3faec61.aafac","d3fe972f.2b8178"]]},{"id":"498371d8.da6da","type":"mqtt out","z":"20fa437.bf684bc","name":"Habitación 3","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":750,"y":1520,"wires":[]},{"id":"71063d35.e3f134","type":"ui_button","z":"20fa437.bf684bc","name":"Subir","group":"81198d1e.5e2f9","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"subir","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1420,"wires":[["498371d8.da6da","c8aa99c7.5068c8"]]},{"id":"5a2038c5.f0b0a8","type":"ui_button","z":"20fa437.bf684bc","name":"Parar","group":"81198d1e.5e2f9","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1500,"wires":[["498371d8.da6da"]]},{"id":"c8aa99c7.5068c8","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1380,"wires":[["77ff87cb.72dfe8"]]},{"id":"77ff87cb.72dfe8","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1380,"wires":[["498371d8.da6da"]]},{"id":"4d83f9e6.5fecb8","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1620,"wires":[["9784cb5c.59cbe8"]]},{"id":"9784cb5c.59cbe8","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1620,"wires":[["498371d8.da6da"]]},{"id":"a299f0f1.9ac4e","type":"ui_button","z":"20fa437.bf684bc","name":"Bajar","group":"81198d1e.5e2f9","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_downward","payload":"bajar","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1600,"wires":[["4d83f9e6.5fecb8","498371d8.da6da"]]},{"id":"bb491b1c.ed2b08","type":"mqtt out","z":"20fa437.bf684bc","name":"Cocina","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":730,"y":1960,"wires":[]},{"id":"e7a19bfc.fb5808","type":"ui_button","z":"20fa437.bf684bc","name":"Subir","group":"64518b49.9b8b44","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"subir","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1860,"wires":[["bb491b1c.ed2b08","ca7b7a8b.1bb188"]]},{"id":"68a9b069.1993d","type":"ui_button","z":"20fa437.bf684bc","name":"Parar","group":"64518b49.9b8b44","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1940,"wires":[["bb491b1c.ed2b08"]]},{"id":"ca7b7a8b.1bb188","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1820,"wires":[["c2b392c0.ff5f6"]]},{"id":"c2b392c0.ff5f6","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1820,"wires":[["bb491b1c.ed2b08"]]},{"id":"896c601.b3bd6a","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":2060,"wires":[["e9b77e47.3ae7a"]]},{"id":"e9b77e47.3ae7a","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2060,"wires":[["bb491b1c.ed2b08"]]},{"id":"1525f9e8.f33c06","type":"ui_button","z":"20fa437.bf684bc","name":"Bajar","group":"64518b49.9b8b44","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_downward","payload":"bajar","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":2040,"wires":[["896c601.b3bd6a","bb491b1c.ed2b08"]]},{"id":"407f1e0a.29788","type":"comment","z":"20fa437.bf684bc","name":"Salon","info":"","x":150,"y":80,"wires":[]},{"id":"14f24325.a31e8d","type":"comment","z":"20fa437.bf684bc","name":"Habitacion 1","info":"","x":150,"y":500,"wires":[]},{"id":"c78d5726.38b338","type":"comment","z":"20fa437.bf684bc","name":"Habitacion 2","info":"","x":150,"y":900,"wires":[]},{"id":"ea8b5c73.fdb89","type":"comment","z":"20fa437.bf684bc","name":"Habitacion 3","info":"","x":170,"y":1320,"wires":[]},{"id":"4f334cc5.1b6f04","type":"comment","z":"20fa437.bf684bc","name":"Cocina","info":"","x":150,"y":1760,"wires":[]},{"id":"33b9052c.ced59a","type":"comment","z":"20fa437.bf684bc","name":"Despacho","info":"","x":160,"y":2160,"wires":[]},{"id":"f702a917.1abab8","type":"mqtt out","z":"20fa437.bf684bc","name":"Despacho","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":740,"y":2360,"wires":[]},{"id":"efa6d456.4a8d38","type":"ui_button","z":"20fa437.bf684bc","name":"Subir","group":"ac9a9544.fddde8","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"subir","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":2260,"wires":[["f702a917.1abab8","404e164a.6bdc88"]]},{"id":"8b3ee527.a9e928","type":"ui_button","z":"20fa437.bf684bc","name":"Parar","group":"ac9a9544.fddde8","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":2340,"wires":[["f702a917.1abab8"]]},{"id":"404e164a.6bdc88","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":2220,"wires":[["b86764e6.777cd8"]]},{"id":"b86764e6.777cd8","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":2220,"wires":[["f702a917.1abab8"]]},{"id":"e42f6038.28adf","type":"delay","z":"20fa437.bf684bc","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":2460,"wires":[["1f19ea87.846695"]]},{"id":"1f19ea87.846695","type":"change","z":"20fa437.bf684bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2460,"wires":[["f702a917.1abab8"]]},{"id":"f444ac1e.f071c","type":"ui_button","z":"20fa437.bf684bc","name":"Bajar","group":"ac9a9544.fddde8","order":7,"width":"3","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"arrow_downward","payload":"bajar","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":2440,"wires":[["e42f6038.28adf","f702a917.1abab8"]]},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c6283f91.1d312","type":"ui_group","name":"Persiana","tab":"83c73120.22d67","order":1,"disp":true,"width":"3","collapse":false},{"id":"509faa50.3fb6c4","type":"ui_group","name":"Persiana","tab":"f3a209d9.cf33a8","order":3,"disp":true,"width":"3","collapse":false},{"id":"35cf820a.09dcde","type":"ui_group","name":"Persiana","tab":"bcbe883b.5937e8","order":3,"disp":true,"width":"3","collapse":false},{"id":"81198d1e.5e2f9","type":"ui_group","name":"Persiana","tab":"47e92efa.5d922","order":3,"disp":true,"width":"3","collapse":false},{"id":"64518b49.9b8b44","type":"ui_group","name":"Persiana","tab":"1a7c78c5.628537","order":3,"disp":true,"width":"3","collapse":false},{"id":"ac9a9544.fddde8","type":"ui_group","name":"Persiana","tab":"147a7331.ba73dd","order":3,"disp":true,"width":"3","collapse":false},{"id":"83c73120.22d67","type":"ui_tab","name":"Salon","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3a209d9.cf33a8","type":"ui_tab","name":"Habitacion 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"bcbe883b.5937e8","type":"ui_tab","name":"Habitacion 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"47e92efa.5d922","type":"ui_tab","name":"Habitacion 3","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a7c78c5.628537","type":"ui_tab","name":"Cocina","icon":"dashboard","disabled":false,"hidden":false},{"id":"147a7331.ba73dd","type":"ui_tab","name":"Despacho","icon":"dashboard","disabled":false,"hidden":false}]