DomoMesh/Node-RED/Senor PIR.json
[{"id":"3984d067.75e49","type":"tab","label":"Sensor PIR","disabled":false,"info":""},{"id":"24cfc148.b2ffae","type":"mqtt in","z":"3984d067.75e49","name":"Pasillo-PIR","topic":"painlessMesh/from/pasillo-pir","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":180,"y":140,"wires":[["9a5a49ea.24a008"]]},{"id":"f5c4d34d.74b05","type":"eztimer","z":"3984d067.75e49","name":"","debug":false,"autoname":"00:00:00 - 07:00:00","tag":"eztimer","topic":"timer","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"00:00:00","onpropertytype":"msg","onproperty":"timer","onvaluetype":"bool","onvalue":"true","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"07:00:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"timer","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":210,"y":220,"wires":[["9a5a49ea.24a008"]]},{"id":"9a5a49ea.24a008","type":"function","z":"3984d067.75e49","name":"","func":"var payload = msg.paylaod;\nvar timer = msg.timer;\n\nif(timer){\n    \n    if(payload == 'on'){\n    \n        msg.payload = \"change\";\n        return msg;\n        \n    } else if(payload == 'off'){\n        \n        msg.payload = \"change\";\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":160,"wires":[["d7012f5d.cc803","35ba7eac.2de1b2"]]},{"id":"d7012f5d.cc803","type":"mqtt out","z":"3984d067.75e49","name":"Pasillo-Luz","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":910,"y":160,"wires":[]},{"id":"5bfd372.9b3bcc8","type":"mqtt in","z":"3984d067.75e49","name":"Entrada-PIR","topic":"painlessMesh/from/entrada-pir","qos":"2","datatype":"auto","broker":"43e9bb63.0bbde4","x":190,"y":360,"wires":[["d38df7c7.599538"]]},{"id":"35a4ad2c.0eba12","type":"eztimer","z":"3984d067.75e49","name":"","debug":false,"autoname":"00:00:00 - 07:00:00","tag":"eztimer","topic":"timer","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"00:00:00","onpropertytype":"msg","onproperty":"timer","onvaluetype":"bool","onvalue":"true","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"07:00:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"timer","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":210,"y":440,"wires":[["d38df7c7.599538"]]},{"id":"d38df7c7.599538","type":"function","z":"3984d067.75e49","name":"","func":"var payload = msg.paylaod;\nvar timer = msg.timer;\n\nif(timer){\n    \n    if(payload == 'on'){\n    \n        msg.payload = \"change\";\n        return msg;\n        \n    } else if(payload == 'off'){\n        \n        msg.payload = \"change\";\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["83d1dacc.6e1428","e00ce4b3.f53728"]]},{"id":"83d1dacc.6e1428","type":"mqtt out","z":"3984d067.75e49","name":"Entrada-Luz","topic":"painlessMesh/to/3186866469","qos":"","retain":"","broker":"43e9bb63.0bbde4","x":910,"y":380,"wires":[]},{"id":"2be928d6.f70398","type":"comment","z":"3984d067.75e49","name":"Pasillo","info":"","x":200,"y":80,"wires":[]},{"id":"3ad02229.266abe","type":"comment","z":"3984d067.75e49","name":"Entrada","info":"","x":200,"y":300,"wires":[]},{"id":"35ba7eac.2de1b2","type":"delay","z":"3984d067.75e49","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":100,"wires":[["7600614.4e43ca"]]},{"id":"7600614.4e43ca","type":"change","z":"3984d067.75e49","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"change","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":100,"wires":[["d7012f5d.cc803"]]},{"id":"e00ce4b3.f53728","type":"delay","z":"3984d067.75e49","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":320,"wires":[["1a714f67.e5a4d1"]]},{"id":"1a714f67.e5a4d1","type":"change","z":"3984d067.75e49","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"change","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":320,"wires":[["83d1dacc.6e1428"]]},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]