DomoMesh/Node-RED/Sensor Humedad.json
[{"id":"b4ec81e8.5f09e","type":"tab","label":"Sensor humedad","disabled":false,"info":""},{"id":"2bc3b872.4c1358","type":"mqtt in","z":"b4ec81e8.5f09e","name":"Salon","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":530,"y":300,"wires":[["fd2c463f.9846b8"]]},{"id":"f2bd7198.ff75d","type":"ui_gauge","z":"b4ec81e8.5f09e","name":"Temp-Cocina","group":"f52dadb.4a7c95","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#31c4c1","#0000ff"],"seg1":"","seg2":"","x":270,"y":260,"wires":[]},{"id":"fd2c463f.9846b8","type":"json","z":"b4ec81e8.5f09e","name":"","property":"payload","action":"","pretty":false,"x":650,"y":300,"wires":[["667db0e6.d80ee","c3cabdbf.5b481"]]},{"id":"c9685cea.88a89","type":"mqtt in","z":"b4ec81e8.5f09e","name":"Cocina","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":210,"y":180,"wires":[["d497bab9.514638"]]},{"id":"d497bab9.514638","type":"json","z":"b4ec81e8.5f09e","name":"","property":"payload","action":"","pretty":false,"x":330,"y":180,"wires":[["8d2b9f22.1bc3d","c3cabdbf.5b481"]]},{"id":"8d2b9f22.1bc3d","type":"change","z":"b4ec81e8.5f09e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":220,"wires":[["f2bd7198.ff75d"]]},{"id":"2133ab8.5c54654","type":"mqtt in","z":"b4ec81e8.5f09e","name":"Habitacion 1","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":190,"y":300,"wires":[["546d03b7.57566c"]]},{"id":"546d03b7.57566c","type":"json","z":"b4ec81e8.5f09e","name":"","property":"payload","action":"","pretty":false,"x":330,"y":300,"wires":[["8d5715a1.831588","c3cabdbf.5b481"]]},{"id":"fd52c734.7b6918","type":"mqtt in","z":"b4ec81e8.5f09e","name":"Habitacion 2","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":510,"y":180,"wires":[["6aa2cd4a.7cec74"]]},{"id":"6aa2cd4a.7cec74","type":"json","z":"b4ec81e8.5f09e","name":"","property":"payload","action":"","pretty":false,"x":650,"y":180,"wires":[["7d4d2fc1.c4faa","c3cabdbf.5b481"]]},{"id":"f76e13b4.996da","type":"mqtt in","z":"b4ec81e8.5f09e","name":"Habitacion 3","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":830,"y":160,"wires":[["cf2132ff.c8981"]]},{"id":"cf2132ff.c8981","type":"json","z":"b4ec81e8.5f09e","name":"","property":"payload","action":"","pretty":false,"x":970,"y":160,"wires":[["4372e8b1.418138","c3cabdbf.5b481"]]},{"id":"c024c7c6.940d88","type":"mqtt in","z":"b4ec81e8.5f09e","name":"Despacho","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":840,"y":280,"wires":[["f1c5bbbb.ab6a08"]]},{"id":"f1c5bbbb.ab6a08","type":"json","z":"b4ec81e8.5f09e","name":"","property":"payload","action":"","pretty":false,"x":970,"y":280,"wires":[["d80bdbfa.311698","c3cabdbf.5b481"]]},{"id":"8d5715a1.831588","type":"change","z":"b4ec81e8.5f09e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":340,"wires":[["196f6fd3.c97be"]]},{"id":"196f6fd3.c97be","type":"ui_gauge","z":"b4ec81e8.5f09e","name":"Temp-Hab1","group":"2506a194.c1c69e","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#31c4c1","#0000ff"],"seg1":"","seg2":"","x":270,"y":380,"wires":[]},{"id":"7d4d2fc1.c4faa","type":"change","z":"b4ec81e8.5f09e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["99009f70.daaf6"]]},{"id":"667db0e6.d80ee","type":"change","z":"b4ec81e8.5f09e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["18fa07ea.6ce7e8"]]},{"id":"4372e8b1.418138","type":"change","z":"b4ec81e8.5f09e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":200,"wires":[["e5cca8c8.8714a8"]]},{"id":"d80bdbfa.311698","type":"change","z":"b4ec81e8.5f09e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":320,"wires":[["e4bde433.31ad78"]]},{"id":"99009f70.daaf6","type":"ui_gauge","z":"b4ec81e8.5f09e","name":"Temp-Hab2","group":"6bdab04f.4416c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#31c4c1","#0000ff"],"seg1":"","seg2":"","x":590,"y":260,"wires":[]},{"id":"18fa07ea.6ce7e8","type":"ui_gauge","z":"b4ec81e8.5f09e","name":"Temp-Salon","group":"56743e50.4413","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#31c4c1","#0000ff"],"seg1":"","seg2":"","x":590,"y":380,"wires":[]},{"id":"e5cca8c8.8714a8","type":"ui_gauge","z":"b4ec81e8.5f09e","name":"Temp-Hab3","group":"9cb27b43.027928","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#31c4c1","#0000ff"],"seg1":"","seg2":"","x":910,"y":240,"wires":[]},{"id":"e4bde433.31ad78","type":"ui_gauge","z":"b4ec81e8.5f09e","name":"Hum-Despacho","group":"ba5a6244.0c063","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#31c4c1","#0000ff"],"seg1":"","seg2":"","x":900,"y":360,"wires":[]},{"id":"c3cabdbf.5b481","type":"calculator","z":"b4ec81e8.5f09e","name":"","inputMsgField":"payload.hum","outputMsgField":"payload","operation":"avg","constant":"","round":false,"decimals":0,"x":580,"y":500,"wires":[["11fa4fce.3361c"]]},{"id":"11fa4fce.3361c","type":"ui_gauge","z":"b4ec81e8.5f09e","name":"Hum-General","group":"4dd16f6f.35e3c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#ffffff","#31c4c1","#0000ff"],"seg1":"","seg2":"","x":590,"y":540,"wires":[]},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f52dadb.4a7c95","type":"ui_group","name":"Cocina","tab":"1a7c78c5.628537","order":1,"disp":true,"width":"6","collapse":false},{"id":"2506a194.c1c69e","type":"ui_group","name":"Habitacion 1","tab":"f3a209d9.cf33a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bdab04f.4416c","type":"ui_group","name":"Habitacion 2","tab":"bcbe883b.5937e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"56743e50.4413","type":"ui_group","name":"Temperatura","tab":"83c73120.22d67","order":3,"disp":true,"width":"6","collapse":false},{"id":"9cb27b43.027928","type":"ui_group","name":"Habitacion 3","tab":"47e92efa.5d922","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba5a6244.0c063","type":"ui_group","name":"Temperatura","tab":"147a7331.ba73dd","order":1,"disp":true,"width":"6","collapse":false},{"id":"4dd16f6f.35e3c","type":"ui_group","name":"General","tab":"629f97e.a1d1a68","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a7c78c5.628537","type":"ui_tab","name":"Cocina","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3a209d9.cf33a8","type":"ui_tab","name":"Habitacion 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"bcbe883b.5937e8","type":"ui_tab","name":"Habitacion 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"83c73120.22d67","type":"ui_tab","name":"Salon","icon":"dashboard","disabled":false,"hidden":false},{"id":"47e92efa.5d922","type":"ui_tab","name":"Habitacion 3","icon":"dashboard","disabled":false,"hidden":false},{"id":"147a7331.ba73dd","type":"ui_tab","name":"Despacho","icon":"dashboard","disabled":false,"hidden":false},{"id":"629f97e.a1d1a68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]