DomoMesh/Node-RED/Sensor Temperatura.json
[{"id":"60c8f81d.af2338","type":"tab","label":"Sensor temperatura","disabled":false,"info":""},{"id":"fca4d9e4.a31f68","type":"ui_gauge","z":"60c8f81d.af2338","name":"Temperature","group":"4dd16f6f.35e3c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{msg.media | number: 2}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":460,"wires":[]},{"id":"dbb28533.d064e8","type":"mqtt in","z":"60c8f81d.af2338","name":"Salon","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":470,"y":260,"wires":[["8d4faadf.0e6c68"]]},{"id":"78a4337b.03eb3c","type":"ui_gauge","z":"60c8f81d.af2338","name":"Temp-Salon","group":"56743e50.4413","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":340,"wires":[]},{"id":"daeae861.98a798","type":"ui_gauge","z":"60c8f81d.af2338","name":"Temp-Hab3","group":"9cb27b43.027928","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":220,"wires":[]},{"id":"88796749.3ce7b8","type":"ui_gauge","z":"60c8f81d.af2338","name":"Temp-Despacho","group":"ba5a6244.0c063","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":340,"wires":[]},{"id":"a3d9a3e2.f031a","type":"ui_gauge","z":"60c8f81d.af2338","name":"Temp-Hab2","group":"6bdab04f.4416c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":220,"wires":[]},{"id":"9ac11d48.31302","type":"ui_gauge","z":"60c8f81d.af2338","name":"Temp-Hab1","group":"2506a194.c1c69e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":210,"y":340,"wires":[]},{"id":"74539664.0d3bc8","type":"ui_gauge","z":"60c8f81d.af2338","name":"Temp-Cocina","group":"f52dadb.4a7c95","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":210,"y":220,"wires":[]},{"id":"1a1148f2.56ca47","type":"calculator","z":"60c8f81d.af2338","name":"","inputMsgField":"payload.temp","outputMsgField":"media","operation":"avg","constant":"","round":false,"decimals":0,"x":520,"y":420,"wires":[["5712a2dd.182a8c"]]},{"id":"f48ab680.79b908","type":"remote-access","z":"60c8f81d.af2338","confignode":"babda57c.b22c68","name":"","verbose":0,"x":500,"y":40,"wires":[[]]},{"id":"8d4faadf.0e6c68","type":"json","z":"60c8f81d.af2338","name":"","property":"payload","action":"","pretty":false,"x":590,"y":260,"wires":[["1a1148f2.56ca47","2887f360.08c4ec"]]},{"id":"2887f360.08c4ec","type":"change","z":"60c8f81d.af2338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["78a4337b.03eb3c"]]},{"id":"4efc5bf5.695db4","type":"mqtt in","z":"60c8f81d.af2338","name":"Cocina","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":150,"y":140,"wires":[["7bbd098d.1796a8"]]},{"id":"7bbd098d.1796a8","type":"json","z":"60c8f81d.af2338","name":"","property":"payload","action":"","pretty":false,"x":270,"y":140,"wires":[["6bab9cbe.69fd54","1a1148f2.56ca47"]]},{"id":"6bab9cbe.69fd54","type":"change","z":"60c8f81d.af2338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":180,"wires":[["74539664.0d3bc8"]]},{"id":"cdc01b07.a82aa8","type":"mqtt in","z":"60c8f81d.af2338","name":"Habitacion 1","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":130,"y":260,"wires":[["cf890739.fd1dc8"]]},{"id":"cf890739.fd1dc8","type":"json","z":"60c8f81d.af2338","name":"","property":"payload","action":"","pretty":false,"x":270,"y":260,"wires":[["d8b391b6.1c65a","1a1148f2.56ca47"]]},{"id":"d8b391b6.1c65a","type":"change","z":"60c8f81d.af2338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":300,"wires":[["9ac11d48.31302"]]},{"id":"4e2b284c.751088","type":"mqtt in","z":"60c8f81d.af2338","name":"Habitacion 2","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":450,"y":140,"wires":[["afdc3e5f.2cdfd"]]},{"id":"afdc3e5f.2cdfd","type":"json","z":"60c8f81d.af2338","name":"","property":"payload","action":"","pretty":false,"x":590,"y":140,"wires":[["252b538a.933f3c","1a1148f2.56ca47"]]},{"id":"252b538a.933f3c","type":"change","z":"60c8f81d.af2338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["a3d9a3e2.f031a"]]},{"id":"7463bdcc.9af8b4","type":"mqtt in","z":"60c8f81d.af2338","name":"Habitacion 3","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":810,"y":140,"wires":[["fdcf305e.95d9"]]},{"id":"fdcf305e.95d9","type":"json","z":"60c8f81d.af2338","name":"","property":"payload","action":"","pretty":false,"x":950,"y":140,"wires":[["518a8bb0.fafb04","1a1148f2.56ca47"]]},{"id":"518a8bb0.fafb04","type":"change","z":"60c8f81d.af2338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":180,"wires":[["daeae861.98a798"]]},{"id":"3027f6f5.0289da","type":"mqtt in","z":"60c8f81d.af2338","name":"Despacho","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":820,"y":260,"wires":[["71db38da.42e208"]]},{"id":"71db38da.42e208","type":"json","z":"60c8f81d.af2338","name":"","property":"payload","action":"","pretty":false,"x":950,"y":260,"wires":[["7faf7c7d.2775e4","1a1148f2.56ca47"]]},{"id":"7faf7c7d.2775e4","type":"change","z":"60c8f81d.af2338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":300,"wires":[["88796749.3ce7b8"]]},{"id":"5712a2dd.182a8c","type":"change","z":"60c8f81d.af2338","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tempe","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":420,"wires":[["fca4d9e4.a31f68"]]},{"id":"4dd16f6f.35e3c","type":"ui_group","name":"General","tab":"629f97e.a1d1a68","order":1,"disp":true,"width":"6","collapse":false},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"56743e50.4413","type":"ui_group","name":"Temperatura","tab":"83c73120.22d67","order":3,"disp":true,"width":"6","collapse":false},{"id":"9cb27b43.027928","type":"ui_group","name":"Habitacion 3","tab":"47e92efa.5d922","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba5a6244.0c063","type":"ui_group","name":"Temperatura","tab":"147a7331.ba73dd","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bdab04f.4416c","type":"ui_group","name":"Habitacion 2","tab":"bcbe883b.5937e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2506a194.c1c69e","type":"ui_group","name":"Habitacion 1","tab":"f3a209d9.cf33a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f52dadb.4a7c95","type":"ui_group","name":"Cocina","tab":"1a7c78c5.628537","order":1,"disp":true,"width":"6","collapse":false},{"id":"babda57c.b22c68","type":"remote-config","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"z78p2eba0ukrsvkqmlfjfk1kufc6g62ij4lo3tlbk2vi2ea2mgxbtkrm2nh1kyek","server":"nodered02.remote-red.com","region":"de"},{"id":"629f97e.a1d1a68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"83c73120.22d67","type":"ui_tab","name":"Salon","icon":"dashboard","disabled":false,"hidden":false},{"id":"47e92efa.5d922","type":"ui_tab","name":"Habitacion 3","icon":"dashboard","disabled":false,"hidden":false},{"id":"147a7331.ba73dd","type":"ui_tab","name":"Despacho","icon":"dashboard","disabled":false,"hidden":false},{"id":"bcbe883b.5937e8","type":"ui_tab","name":"Habitacion 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3a209d9.cf33a8","type":"ui_tab","name":"Habitacion 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a7c78c5.628537","type":"ui_tab","name":"Cocina","icon":"dashboard","disabled":false,"hidden":false}]