DomoMesh/Node-RED/Sensor Co2.json
[{"id":"76b7a052.0a094","type":"tab","label":"Sensor cO2","disabled":false,"info":""},{"id":"7c0f0dff.ccb8d4","type":"ui_gauge","z":"76b7a052.0a094","name":"cO2","group":"4dd16f6f.35e3c","order":1,"width":0,"height":0,"gtype":"gage","title":"cO2","label":"ºC","format":"{{msg.media | number: 2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":480,"wires":[]},{"id":"c62518d5.e24748","type":"mqtt in","z":"76b7a052.0a094","name":"Salon","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":430,"y":280,"wires":[["967af235.8cec9"]]},{"id":"1ae77d42.7f8313","type":"ui_gauge","z":"76b7a052.0a094","name":"cO2-Salon","group":"56743e50.4413","order":1,"width":0,"height":0,"gtype":"gage","title":"cO2","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":360,"wires":[]},{"id":"3d491bc3.d8d744","type":"ui_gauge","z":"76b7a052.0a094","name":"cO2-Hab3","group":"9cb27b43.027928","order":1,"width":0,"height":0,"gtype":"gage","title":"cO2","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":240,"wires":[]},{"id":"d5dea5e5.0bc2c8","type":"ui_gauge","z":"76b7a052.0a094","name":"cO2-Despacho","group":"ba5a6244.0c063","order":1,"width":0,"height":0,"gtype":"gage","title":"cO2","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":360,"wires":[]},{"id":"f1854832.337f88","type":"ui_gauge","z":"76b7a052.0a094","name":"cO2-Hab2","group":"6bdab04f.4416c","order":1,"width":0,"height":0,"gtype":"gage","title":"cO2","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":240,"wires":[]},{"id":"c534b5c3.195f48","type":"ui_gauge","z":"76b7a052.0a094","name":"cO2-Hab1","group":"2506a194.c1c69e","order":1,"width":0,"height":0,"gtype":"gage","title":"cO2","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":360,"wires":[]},{"id":"bbf2df1e.ca7e2","type":"ui_gauge","z":"76b7a052.0a094","name":"cO2-Cocina","group":"f52dadb.4a7c95","order":1,"width":0,"height":0,"gtype":"gage","title":"cO2","label":"ºC","format":"{{value | number: 2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":170,"y":240,"wires":[]},{"id":"3719d894.880028","type":"calculator","z":"76b7a052.0a094","name":"","inputMsgField":"payload.temp","outputMsgField":"media","operation":"avg","constant":"","round":false,"decimals":0,"x":480,"y":440,"wires":[["7c0f0dff.ccb8d4","8b7a7209.1f7f5"]]},{"id":"967af235.8cec9","type":"json","z":"76b7a052.0a094","name":"","property":"payload","action":"","pretty":false,"x":550,"y":280,"wires":[["3719d894.880028","adb31619.f32538"]]},{"id":"adb31619.f32538","type":"change","z":"76b7a052.0a094","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":320,"wires":[["1ae77d42.7f8313"]]},{"id":"3c1abc10.6a7114","type":"mqtt in","z":"76b7a052.0a094","name":"Cocina","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":110,"y":160,"wires":[["6a4d2ff8.5f4d4"]]},{"id":"6a4d2ff8.5f4d4","type":"json","z":"76b7a052.0a094","name":"","property":"payload","action":"","pretty":false,"x":230,"y":160,"wires":[["82fa67a9.d8c458","3719d894.880028"]]},{"id":"82fa67a9.d8c458","type":"change","z":"76b7a052.0a094","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":200,"wires":[["bbf2df1e.ca7e2"]]},{"id":"1b8febe7.561f94","type":"mqtt in","z":"76b7a052.0a094","name":"Habitacion 1","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":90,"y":280,"wires":[["6a6809e6.d12a18"]]},{"id":"6a6809e6.d12a18","type":"json","z":"76b7a052.0a094","name":"","property":"payload","action":"","pretty":false,"x":230,"y":280,"wires":[["d7db3f4c.a1f","3719d894.880028"]]},{"id":"d7db3f4c.a1f","type":"change","z":"76b7a052.0a094","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":320,"wires":[["c534b5c3.195f48"]]},{"id":"f24972a0.01ec4","type":"mqtt in","z":"76b7a052.0a094","name":"Habitacion 2","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":410,"y":160,"wires":[["20aa9170.56dfee"]]},{"id":"20aa9170.56dfee","type":"json","z":"76b7a052.0a094","name":"","property":"payload","action":"","pretty":false,"x":550,"y":160,"wires":[["af1cd05b.7619f","3719d894.880028"]]},{"id":"af1cd05b.7619f","type":"change","z":"76b7a052.0a094","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":200,"wires":[["f1854832.337f88"]]},{"id":"68d333cf.6196dc","type":"mqtt in","z":"76b7a052.0a094","name":"Habitacion 3","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":770,"y":160,"wires":[["f86dd27f.4c365"]]},{"id":"f86dd27f.4c365","type":"json","z":"76b7a052.0a094","name":"","property":"payload","action":"","pretty":false,"x":910,"y":160,"wires":[["c981c0b2.b551","3719d894.880028"]]},{"id":"c981c0b2.b551","type":"change","z":"76b7a052.0a094","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":200,"wires":[["3d491bc3.d8d744"]]},{"id":"af744b3d.810e18","type":"mqtt in","z":"76b7a052.0a094","name":"Despacho","topic":"painlessMesh/from/3186866469","qos":"1","datatype":"auto","broker":"43e9bb63.0bbde4","x":780,"y":280,"wires":[["588cae7d.99a09"]]},{"id":"588cae7d.99a09","type":"json","z":"76b7a052.0a094","name":"","property":"payload","action":"","pretty":false,"x":910,"y":280,"wires":[["fb53b619.5afda8","3719d894.880028"]]},{"id":"fb53b619.5afda8","type":"change","z":"76b7a052.0a094","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":320,"wires":[["d5dea5e5.0bc2c8"]]},{"id":"8b7a7209.1f7f5","type":"function","z":"76b7a052.0a094","name":"control","func":"var nivel = msg.payload;\n\nif(nivel > 500){\n    msg.payload = \"on\"\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":440,"wires":[["2cfdbca8.356d34"]]},{"id":"2cfdbca8.356d34","type":"mqtt out","z":"76b7a052.0a094","name":"Climatizacion","topic":"painlessMesh/to/3186866469","qos":"1","retain":"","broker":"43e9bb63.0bbde4","x":810,"y":440,"wires":[]},{"id":"4dd16f6f.35e3c","type":"ui_group","name":"General","tab":"629f97e.a1d1a68","order":1,"disp":true,"width":"6","collapse":false},{"id":"43e9bb63.0bbde4","type":"mqtt-broker","name":"home","broker":"192.168.31.196","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"56743e50.4413","type":"ui_group","name":"Temperatura","tab":"83c73120.22d67","order":3,"disp":true,"width":"6","collapse":false},{"id":"9cb27b43.027928","type":"ui_group","name":"Habitacion 3","tab":"47e92efa.5d922","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba5a6244.0c063","type":"ui_group","name":"Temperatura","tab":"147a7331.ba73dd","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bdab04f.4416c","type":"ui_group","name":"Habitacion 2","tab":"bcbe883b.5937e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2506a194.c1c69e","type":"ui_group","name":"Habitacion 1","tab":"f3a209d9.cf33a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f52dadb.4a7c95","type":"ui_group","name":"Cocina","tab":"1a7c78c5.628537","order":1,"disp":true,"width":"6","collapse":false},{"id":"629f97e.a1d1a68","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"83c73120.22d67","type":"ui_tab","name":"Salon","icon":"dashboard","disabled":false,"hidden":false},{"id":"47e92efa.5d922","type":"ui_tab","name":"Habitacion 3","icon":"dashboard","disabled":false,"hidden":false},{"id":"147a7331.ba73dd","type":"ui_tab","name":"Despacho","icon":"dashboard","disabled":false,"hidden":false},{"id":"bcbe883b.5937e8","type":"ui_tab","name":"Habitacion 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3a209d9.cf33a8","type":"ui_tab","name":"Habitacion 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a7c78c5.628537","type":"ui_tab","name":"Cocina","icon":"dashboard","disabled":false,"hidden":false}]